/**
 * @author Jannchie
 * @email jannchie@gmail.com
 * @create date 2018-05-03 08:44:46
 * @modify date 2019-04-15 15:43:32
*/
body {
    margin: 0px;
}

input {
    position: absolute;
    top: 50%;
    left: 45%;
}

.domain {
    display: none;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #8E8883;
    font-size: 12pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.label {
    fill: #5C5C5C;
    font-size: 15pt;
    font-family: "Fira Code", "Source Han Sans CN";
    font-weight: bold
}

.dateLabel {

    fill: #5C5C5C;
    display: table-cell;
    font-size: 60pt;
    font-weight: bold;
    font-family: "Fira Code", "Source Han Sans CN"
}

.dateLabelRed {

    fill: #A72E2E;
    display: table-cell;
    font-size: 90pt;
    font-weight: bold;
    font-family: "Fira Code", "Source Han Sans CN"
}


.days {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 55pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.topLabel {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 40pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.top {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 62pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.value {
    fill: #8A2E2E;
    font-size: 20pt;
    font-weight: 400;
    font-family: "Fira Code", "Source Han Sans CN"
}

.barInfo {
    fill: #FFFFFF;
    font-weight: 800;
    font-size: 24pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.axis-label {
    fill: #635F5D;
    font-size: 32pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.days {
    fill: r#5C5C5C;
    font-weight: bold;
    font-size: 40pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.dayslabel {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 25pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

.growth {
    fill: #5C5C5C;
    font-weight: bold;
    font-size: 40pt;
    font-family: "Fira Code", "Source Han Sans CN"
}

/* MIKU色 */
.L {
    fill: #39C5BB;
}

/* 龙牙绿 */
.M {
    fill: #006666
}

.L {
    fill: #66CCFF
}

.N {
    fill: #EB0000
}

.O {
    fill: #009714
}

.P {
    fill: #B11111
}

.Q {
    fill: #E24000
}

.R {
    fill: #8605D1
}

.S {
    fill: #00A5BB
}

.T {
    fill: #C21178
}

.U {
    fill: #00A048
}

.W {
    fill: #FFC012
}

.V {
    fill: #F39303
}

.X {
    fill: #933DDA
}

.Y {
    fill: #EE5677
}

.Z {
    fill: #C0620B
}

.H {
    fill: #787878
}

.G {
    fill: #CB1B45
}

.K {
    fill: #0775BE
}

.J {
    fill: #B49D33
}

.I {
    fill: #1B813E
}

.F {
    fill: #DD3287
}

.E {
    fill: #00AF89
}

.D {
    fill: #0F2540
}

.C {
    fill: #2EA9DF
}

.B {
    fill: #0A83E6
}

.A {
    fill: #CF9237
}